@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');

:root {
    /* --bg-color: #151532; */
    --second-bg-color: rgb(12, 13, 48);
    --bg-color: #0c0d30;
    --text-color: white;
    --red: red;
    --main: rgb(0, 171, 240);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbar {
    display: flex;
    width: 100%;
    height: 8%;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
    background: transparent;
    overflow: hidden;
    z-index: 999999999999999999;
}

.menu-icon {
    display: none;
}

.logo {
    color: var(--red);
    height: 100%;
    display: flex;
    align-items: center;
}

.logo img {
    height: 80%;
}

.logo span {
    margin-left: 10px;
    font-size: 1.5em;
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
}

.menu {
    height: 100%;
    position: absolute;
    right: 30px;
}

.menu-before {
    display: none;
}

#navbar.scroll {
    background: rgb(5, 5, 20);
    transition: 1.4s;
}

.menu ul {
    display: flex;
    justify-content: center;
    height: 100%;
    list-style: none;
}

.menu ul li {
    margin: 0px 10px;
    display: flex;
    height: 100%;
    justify-content: center;
}

.menu ul li a {
    color: var(--text-color);
    text-decoration: none;
    margin: auto;
    font-size: .9rem;
    position: relative;
    font-weight: 600;
}

.menu ul li a:hover {
    color: var(--main);
    transition: 1s;
}

.menu ul li a::before {
    content: " ";
    width: 0px;
    height: 2px;
    background: var(--red);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .5s;
}

.menu ul li a:hover::before {
    content: " ";
    width: 100%;
    height: 2px;
    background: var(--red);
    position: absolute;
    bottom: 0;
    left: 0;
}
/* 
 */
 .mobile{
    display: none;
 }
 .mobile ul {
    display: flex;
    justify-content: center;
    height: 100%;
    list-style: none;
}

.mobile ul li {
    margin: 0px 10px;
    display: flex;
    height: 100%;
    justify-content: center;
}

.mobile ul li a {
    color: var(--text-color);
    text-decoration: none;
    margin: auto;
    font-size: .9rem;
    position: relative;
    font-weight: 600;
}

.mobile ul li a:hover {
    color: var(--main);
    transition: 1s;
}

.mobile ul li a::before {
    content: " ";
    width: 0px;
    height: 2px;
    background: var(--red);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .5s;
}

.mobile ul li a:hover::before {
    content: " ";
    width: 100%;
    height: 2px;
    background: var(--red);
    position: absolute;
    bottom: 0;
    left: 0;
}
 /* 
  */
section {
    max-width: 100vw;
    min-height: 100vh;
    max-height: 300vh;
    background: var(--bg-color);
    padding-top: 60px;
}

section:nth-child(odd) {
    background: var(--second-bg-color);
}

/* heading */
.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    font-weight: 600;
    color: white;
}

.heading span {
    margin-left: 16px;
    color: var(--main);
}

/* home */



/* about */

#about .container {
    width: 100%;
    display: flex;

}

.container .left {
    width: calc(100vw - 62vw);
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
}

.container .conatiner {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transform: rotateX(-20deg);
}

.cube {
    position: relative;
    transform-style: preserve-3d;
    width: 100px;
    height: 100px;
    animation: move 8s linear infinite;
    animation-name: move;
}

@keyframes move {
    0% {
        transform: rotate3d(0, 1, 0, 0deg) translateY(-100px);
    }

    50% {
        transform: rotate3d(0, 1, 0, 360deg) translateY(0px);
    }

    100% {
        transform: rotate3d(0, 1, 0, 720deg) translateY(-100px);
    }
}

.cube .shadow {
    width: 100%;
    height: 100%;
    background: red;
    animation: move2 8s linear infinite;
    box-shadow: 0px 0px 5px red, 0px 0px 10px red, 0px 0px 30px red, 0px 0px 100px red, 0px 0px 100px red;
}

@keyframes move2 {
    0% {
        transform: translateY(200px) rotateX(90deg) scale(.8);
    }

    50% {
        transform: translateY(100px) rotateX(90deg);
    }

    100% {
        transform: translateY(200px) rotateX(90deg) scale(.8);
    }
}

.cube .face {
    width: 100%;
    height: 100%;
    position: absolute;
}

.face1 {
    transform: translateX(-50%) rotateY(90deg);
    background: linear-gradient(red, black);
}

.face2 {
    transform: translateX(50%) rotateY(90deg);
    background: linear-gradient(red, black);
}

.face3 {
    transform: translateY(-50%) rotateX(90deg);
    background: red;
}

.face4 {
    transform: translateY(50%) rotateX(90deg);
    background: black;
}

.face5 {
    transform: translateZ(50px);
    background: linear-gradient(red, black);
}

.face6 {
    transform: translateZ(-50px);
    background: linear-gradient(red, black);
}

.container .right {
    width: 60vw;
    display: inline-block;
}

.container .right .details {
    display: grid;
    grid-template-columns: auto auto;
}

.details .info {
    display: flex;
    align-items: center;
    height: 30px;
    color: var(--text-color);
}

.details .info img {
    width: 20px;
    margin: 0px 10px 0px 10px;
    filter: invert(19%) sepia(92%) saturate(5730%) hue-rotate(356deg) brightness(104%) contrast(118%);
    
}

.info .topic {
    width: 100px;
}

.container .right .button {
    display: flex;
    align-items: center;
    margin: 40px 0px;
}

.container .right .button button {
    border-radius: 0px;
    margin: 0px 10px;
}

.container .name {
    margin: 20px 10px;
    font-size: 1.8em;
    color: var(--text-color);
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.name span {
    color: rgb(255, 0, 0);
}

.container .right .info-big {
    color: var(--text-color);
    font-size: 1em;
    margin: 20px 10px;
}

/* services */
#services .container {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 30px 0px;
    width: 80vw;
}

#services .s_info {
    width: 80vw;
    text-align: center;
    margin-top: 10px;
    color: red;
    font-size: 1.2em;
    font-weight: 400;
    mix-blend-mode: difference;
    display: none;
}

.service_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#services .container .box {
    margin: 10px 20px;
    /* border: 2px solid rgb(0, 0, 0); */
    cursor: pointer;
    height: 170px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 340px;
    position: relative;
    /* background: rgba(255, 160, 255, 0.956); */
    /* background: rgba(252, 252, 62, 0.955); */
    /* background: rgba(113, 252, 62, 0.955); */
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.11));
    /* background: rgb(158, 0, 0); */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    margin-top: 25px;
    color: white;
    box-shadow:0 8px 32px 0 rgba(0,0,0,0.37); /*, 0px 0px 10px rgba(255, 255, 255, 0.28)*/
}
#services .box.s_hide{
    display: none;
}
#services .container .box:hover{
    background: rgba(255, 0, 0, 0.859);
    transition: .5s;
    color: black;
}

#services .container .box img{
    filter: invert(19%) sepia(92%) saturate(5730%) hue-rotate(356deg) brightness(104%) contrast(118%);
    transition: .5s;
}
#services .container .box:hover img{
    /* filter: invert(96%) sepia(90%) saturate(2%) hue-rotate(287deg) brightness(111%) contrast(100%); */
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(167deg) brightness(112%) contrast(100%); 
}
#services .container .box:before{
    z-index: 99;
    position: absolute;
    content: " ";
    top: 50%;
    left: 50%;
    width: 0px;
    height: 0px;
    transform: translate(-50%,-50%);
    transition: .4s;
    border-left: 5px solid rgb(0, 0, 0);
    border-top: 5px solid rgb(0, 0, 0);
    border-color: transparent;
}
#services .container .box:hover::before{
    left: 0;
    top: 0;
    width: 20%;
    height: 30%;
    border-color: black;
    transform: translate(0,0);
}

#services .container .box:after{
    z-index: 99;
    position: absolute;
    content: " ";
    right: 50%;
    bottom: 50%;
    width: 0px;
    height: 0px;
    transform: translate(-50%,-50%);
    transition: .4s;
    border-right: 5px solid rgb(0, 0, 0);
    border-bottom: 5px solid rgb(0, 0, 0);
    border-color: transparent;

}
#services .container .box:hover::after{
    right: -1px;
    bottom: 0;
    width: 20%;
    height: 30%;
    transform: translate(0,0);
    border-color: black;
}

#services .container .box .head {
    font-size: 1.3em;
    font-weight: 600;
}

#services .container .box .s_detail {
    width: 100%;
    height: 50%;
    text-align: center;
    margin-top: 10px;
}

#services .container .box img {
    height: 30%;
    margin-top: 5px;

}

#services {
    max-height: 900vh;
}

#services img.svg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
}

#services .container .box:hover {
    /* scale: 1.02; */
    /* transition: .5s; */
}

/* skills */
#skills .container {
    display: flex;
    margin-top: 30px;
}

#skills .container .circle {
    width: 50vw;
    display: grid;
    grid-template: auto auto / auto auto;
}

#skills .container .circle .progress {
    position: relative;
    width: 60%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    color: white;
    margin: 20px auto;
    background: #444 linear-gradient(to right, transparent 50%, var(--clr) 0);
}

#skills .container .circle .progress .head {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
}

#skills .container .circle .progress .head span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

#skills .container .circle .progress::after {
    content: " ";
    position: absolute;
    inset: 20px;
    border-radius: 50%;
    background: var(--bg-color);
}

#skills .container .circle .progress::before {
    content: " ";
    display: block;
    border-radius: 50%;
    background: var(--clr);
    height: 100%;
    margin-left: 50%;
    z-index: 99;
    transform-origin: left;
    border-radius: 0 100% 100% 0/50%;
    transform: rotate(calc((var(--i) - 50) * 0.01turn));
}

/* for less than 50% */
#skills .container .circle .progress.less::before {
    background: #444;
    transform: rotate(calc((var(--i) - 0) * 0.01turn));
}

/* for less than 50% */
#skills .container .bar {
    width: 50vw;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

.bar .box {
    width: 80%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 20px;
    color: white;
}

.bar .box:nth-child(1) {
    margin-top: 20px;
}

.bar .box .n_skill {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
}

.bar .box .n_skill span {
    color: white;
    font-size: 1em;
    font-weight: 600;
}

.n_skill span:nth-child(1) {
    margin-left: 10px;
}

.n_skill span:nth-child(2) {
    text-align: end;
    margin-right: 10px;
}

.bar .progress {
    width: calc(100% - 20px);
    margin: 10px 0px;
    height: 30px;
    border-radius: 8px;
    border: 2px solid red;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.bar .progress .percentage {
    width: calc(var(--i) - 10px);
    margin: 0px 5px;
    height: 60%;
    border-radius: 5px;
    background: red;
}


/* projects */
#project .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;

}

#project .project-wrapper {
    width: 80vw;
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 40px 0px;
}

#project .container .box {
    margin: 1.3vw 2.5vw;
    height: 13vw;
    width: fit-content;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

#project .box .hidden {
    position: absolute;
    bottom: -100%;
    width: 100%;
    height: 100%;
    transition: 1s;
    color: white;
}

#project .box img {
    width: 100%;
    height: 100%;
}

#project .hidden .head {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3vw;
    font-size: 2em;
    font-weight: 600;
    color: white;
}

#project .hidden span {
    width: 100%;
    display: flex;
    text-align: center;
    align-items: right;
    margin-top: 16px;
}

#project .box a {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
}

#project .box:hover .hidden {
    bottom: 0;
}

#project .box:hover {
    scale: 1.04;
    transition: .7s;
}

/*  */
#web_dev .hidden {
    background: linear-gradient(transparent, transparent, var(--h_clr));
}
#chatbot .hidden {
    background: linear-gradient(transparent, transparent, var(--h_clr));
}
/*
#games .hidden {
    background: linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.784))
}

#infinity .hidden {
    background: linear-gradient(transparent, transparent, rgba(35, 151, 214, 0.847))
}

#effects .hidden {
    background: linear-gradient(transparent, transparent, rgb(53, 10, 80))
}

#mysites .hidden {
    background: linear-gradient(transparent, transparent, rgb(10, 64, 69))
}

#clang .hidden {
    background: linear-gradient(transparent, transparent, rgb(69, 38, 10))
}
*/
/*  */

/* contact me */
.input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.center {
    display: grid;
    grid-template: auto auto / auto auto;
}

.textarea {
    margin: 0px 10px;
    margin-top: 10px;

}

textarea {
    width: 100%;
    height: 30vh;
    border-radius: 5px;
    border: 2px solid var(--main);
    background: var(--bg-color);
    font-size: 1.2em;
    color: var(--text-color);

}

#contact input {
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main);
    background: var(--bg-color);
    margin: 10px 10px 10px 10px;
    color: white;
    font-size: 1.2em;
    padding-left: 5px;
}



#contact .button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.button button {
    width: 150px;
    border-radius: 0px 10px 0px 10px;
    height: 40px;
    background: var(--second-bg-color);
    color: white;
    font-size: 1em;
    border: 2px solid var(--main);
    cursor: pointer;
    z-index: 9;
    position: relative;
    overflow: hidden;
    font-weight: 600;
}

.button button::before {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 0px;
    height: 100%;
    background: var(--main);
    transition: .8s;
    z-index: -1;
}

.button button:hover::before {
    width: 100%;
    transition: .8s;
}

.button button:hover {
    color: black;
    transition: .5s;
}

/* footer  */
.footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background: var(--second-bg-color);
    color: var(--text-color);
}

.footer span {
    font-size: 1.1rem;
    margin-right: 20%;
}

.footer .up {
    width: 30px;
    height: 30px;
    background: var(--main);
    margin: 10px;
    color: black;
    border-radius: 3px;
    border: 2px solid silver;
    cursor: pointer;
}

.footer .up a {
    display: block;
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:1280px) {
    #services .container {
        grid-template-columns: auto auto;
    }
    #services .box:nth-child(9){
        display: none;
    }
    #skills .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #skills .container .circle {
        width: 90vw;
        grid-template: auto/auto auto auto;
    }
    #skills .container .circle .progress.less{
        display: none;
    }
    #skills .container .bar .hide{
        display: none;
    }
    #skills .container .bar {
        display: grid;
        width: 90vw;
        grid-template: auto auto / auto auto;
    }
    #skills .container .bar .box{
        margin: auto;
    }
}

@media (max-width:900px) {
    #services .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #skills .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width:900px) {
    #home .home_left {
        width: 100vw;

    }

    #home .home_left .container {
        margin: 20px;
    }

    #home .home_right {
        display: none;
    }

}

@media (max-width:750px) {
    #navbar {
        overflow: visible;
    }

    .menu {
        top: 0;
        height: 380px;
        width: 40vw;
        right: 0;
        background: #04071c;
        right: -400px;
        display: none;
    }

    .menu-icon {
        display: flex;
        position: absolute;
        right: 30px;
        color: white;
        z-index: 9999999999999999999;
        width: 30px;
        height: 30px;
        background: red;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        background: var(--second-bg-color);
        cursor: pointer;
    }

    .menu-before {
        position: absolute;
        top: 0;
        height: 380px;
        width: 40vw;
        right: -400px;
        background: var(--main);
        z-index: -1;
        display: flex;
    }

    .menu ul {
        flex-direction: column;
    }

    .menu ul li {
        margin: 0px 0px;
        border-bottom: 1px solid grey;
    }

    .menu ul li:nth-child(7) {
        border-bottom: 0px solid grey;
    }

    .menu ul li a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1em;
        font-weight: 600;
    }

    .menu ul li a:hover {
        background: rgb(255, 85, 0);
        transition: .4s;
        color: black;
    }


    /* 
     */
     .mobile {
        position: absolute;
        height: 380px;
        width: 40vw;
        right: 0;
        top: 0;
        background: #04071c;
        right: -400px;
        display: flex;
        justify-content: center;
    }
    .mobile ul {
        flex-direction: column;
        width: 100%;
    }

    .mobile ul li {
        margin: 0px 0px;
        border-bottom: 1px solid grey;
        width: 100%;
    }

    .mobile ul li:nth-child(7) {
        border-bottom: 0px solid grey;
    }

    .mobile ul li a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1em;
        font-weight: 600;
    }

    .mobile ul li a:hover {
        background: rgb(255, 85, 0);
        transition: .4s;
        color: black;
    }
    /* 
     */
    .container .left {
        display: none;
    }

    .container .right {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .container .right .info-big {
        margin: 20px 20px;
    }

    .center {
        display: grid;
        grid-template: auto/auto;
    }

    #project .project-wrapper {
        width: 80vw;
        display: grid;
        grid-template-columns: auto;
        margin: 40px 0px;
    }

    #services .container {
        grid-template-columns: auto;
    }

    #services .s_info {
        display: none;
    }

    #education .box {
        transform: translateX(20%);
        min-width: 70vw;
        margin-top: 50px;
    }

    #education .box:nth-child(even) .cona {
        top: 5px;
        left: 0;
        transform: translateX(-100%);
        clip-path: polygon(0 0, 100% 100%, 100% 0);
    }

    #education .container {
        width: 100%;
        display: block;
        margin-left: 30px;
    }

    #skills .container .circle {
        width: 90vw;
        grid-template: auto auto / auto auto ;
    }
    #skills .container .circle .progress.less{
        display: block;
    }
    #skills .container .bar{
        width: 90vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #skills .container .bar .hide {
        display:inline-flex;
    }

    #home .home_left {
        width: 100vw;

    }

    #home .home_left .container {
        margin: 20px;
    }

    #home .home_right {
        display: none;
    }
    #project .container .project-wrapper .box{
        height: fit-content;
    }
    
}

@media (max-width:670px) {
    .container .right .info-big {
        margin: 20px 40px;
    }

    .container .right .details {
        grid-template-columns: auto;
    }

    #home .home_left .container {
        margin: 20px;
        margin-top: 60px;
    }

    #home .container .my_name {
        font-size: 1.5em;
    }

    #home .container .change-text {
        font-size: 1.5em;
    }
    #project .container .project-wrapper .box{

    }
}
@media (max-width:500px){
    #skills .container .circle {
        width: 80vw;
        grid-template: auto/ auto ;
    }
    .heading{
        font-size: 2.4em;
    }
    .my_name{
        font-size: .5em;
    }
}
@media (max-width:390px){
    #services .box{
        max-width: 300px;
        padding: 10px;
    }
    #services .container .box .head{
        font-size: 1em;
    }
    #services .container .box .s_detail{
        font-size: .9em;
    }
    /*  */
    #navbar{
        position: fixed;
    }
    #contact input{
        width: 300px;
    }
    .footer span{
        font-size: 12px;
    }
    .footer .up{
        width: 40px;
    }
    /*  */
    #about .name{
        font-size: 20px;
        justify-content: center;
        margin: 10px 40px;
    }
    #about .details .info .topic{
        width: fit-content;
        font-size: 15px;
    }
    #about .details .info{
        width: 300px;
        height: fit-content;
        margin: 5px 0px;
        
    }
    #about .details .info .answer{
        font-size: 14px;
        margin-left: 5px;
    }
    /*  */

    #home .container .my_name{
        font-size: 18px;
    }
    #home .container .change-text{
        font-size: 16px;
        margin-top: 10px;
    }
    .menu-icon{
        right: 10px;
    }
    /*  */

    #project .container .project-wrapper .box{
        height: fit-content;
    }
    /*  */
    #skills .progress .head{
        font-size: .85em;
    }
    #skills .bar .box .n_skill{
        font-size: 14px;
    }
    .mobile {
        font-size: 15px;
    }
    .menu-before{
        height: 300px;
    }
    .mobile{
        height: 300px;
    }
}









/* home animation */
#home {
    display: flex;
    align-items: center;
}

.home_left {
    width: 50vw;
    height: 90vh;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    color: whitesmoke;
}

.home_left .container {
    width: 90%;
    margin-left: 25%;
}

.my_name {
    font-size: 2rem;
    font-weight: 600;
}

.home_left .home_info {
    margin: 20px 0px;
}

.home_left .button {
    margin: 20px 0px;
}

.home_left .button button {
    border-radius: 0px;
}

.change-text {
    font-size: 2.5rem;
    font-weight: 600;
}

.change-text h3 {
    display: inline-flex;
    margin: 0;
    vertical-align: top;
}

.change-text h3 .word {
    position: absolute;
    display: flex;
    opacity: 0;
}

.change-text h3 .word .letter {
    transform-origin: center center 25px;
    color: #ff0026;
}

.change-text h3 .word .letter.out {
    transform: rotateX(90deg);
    transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
}

.change-text h3 .word .letter.in {
    transition: 0.38s ease;
}

.change-text h3 .word .letter.behind {
    transform: rotateX(-90deg);
}

/* home right */

.home_right {
    display: inline-flex;
    width: 50vw;
    justify-content: center;
    align-items: center;
}

.home_right .conatiner {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transform: rotateX(-20deg);
}
#home .button{
    /* border: 2px solid red; */
    display: flex;

}
#home .button .social_media{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    background: rgb(27, 29, 79);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: .4s;
}
#home .button .social_media:hover{
    background: rgb(255, 29, 29);
}
#home .button .social_media:nth-child(2){
    margin-left: 20px;
}
#home .button .social_media a{
    position: absolute;
    width: 100%;
    height: 100%;
}
#home .button .social_media img{
    /* width: 100%; */
    height: 40%;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(323deg) brightness(103%) contrast(101%);
}

/* name typewriter */
/* .home_left .my_name{
    display: flex;
    height: 40px;
}
.home_left .home_name{
    border-right: 2px solid red;
    overflow: hidden;
    letter-spacing: 3px;
    white-space: nowrap;
    width: fit-content; 
    margin-left: 10px;
    width: 250px;
}
.home_left .home_name{
    animation: cursor .4s step-end infinite alternate, 
    typing 5s steps(14) forwards infinite;
}
@keyframes cursor {
    50%{
        border-color: transparent;
    }
}
@keyframes typing {
    from{
        width: 0;
    }
    to{
        width: 250px;
    }
} */
.home_left .my_name {
    display: flex;
}

.home_left .home_name {
    /* border-right: 2px solid red; */
    width: fit-content;
    margin-left: 10px;
    border-right: 2px solid red;
}

.home_name .name {
    margin: 0;
    font-size: 1em;
    display: inline-flex;
    font-family: "Protest Guerrilla", sans-serif;
    color: var(--main);
    letter-spacing: 2px;
}

.home_name .name {
    transition: calc(var(--j) + 1s);
}

.home_left .home_name {
    animation: cursor .4s step-end infinite alternate;
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}
section{
    max-height: 1000vh;
}

html {
    scroll-behavior: smooth;
}

.nav_link.active {
    color: red; /* Or any other style you want */
    transition: .5s;
}
.nav_link.active::before{
    content: " ";
    width: 100%;
    height: 2px;
    background: var(--red);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .5s;
}

/*  */
/*  */
/*  */
/*  */
.hidden{
    opacity: 0;
    transition: all 7s;
}
.show{
    opacity: 1;
}
